.date-time {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;

  .clock-wrapper {
    position: relative;
    .clock {
      margin-bottom: 40px;
      font-family: 'DS-Digital';
      font-weight: bold;
      text-align: center;
      box-shadow: 8px -7px 11px 0px rgba(67, 67, 67, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.5),
        -4px -4px 10px rgba(67, 67, 67, 0.3), 4px 4px 10px rgba(0, 0, 0, 0.3);
      &:hover {
        box-shadow: inset 0px -4px 10px $main-color, inset 4px 4px 10px rgba(0, 0, 0, 0.5),
          inset -4px -4px 10px rgba(67, 67, 67, 0.3), inset 4px 4px 10px rgba(0, 0, 0, 0.3);
      }

      .date {
        font-size: 30px;
        padding: 15px 30px 0;
        color: $main-color;
        letter-spacing: 5px;
      }

      #time {
        @media (max-width: 576px) {
          font-size: 60px;
        }
        font-size: 80px;
        color: $main-color;
        letter-spacing: 5px;
        padding-bottom: 10px;
      }
    }
  }
}

/*----------------------  user controls  ---------- */

.controls-wrapper {
  display: flex;
  justify-content: space-around;

  a {
    color: $neutral-color;
  }

  .btn-left {
    &:hover {
      color: $main-color;
      outline: inset thick rgba(67, 67, 67, 0.3);
      box-shadow: inset 0px -4px 10px rgba(67, 67, 67, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.3), inset 4px 4px 10px rgba(0, 0, 0, 0.3);
    }
    padding: 10px;
    font-size: 25px;
    box-shadow: 8px -7px 11px 0px rgba(67, 67, 67, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.5),
      -4px -4px 10px rgba(67, 67, 67, 0.3), 4px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .btn-right {
    padding: 10px;
    font-size: 25px;
    box-shadow: 8px -7px 11px 0px rgba(67, 67, 67, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.5),
      -4px -4px 10px rgba(67, 67, 67, 0.3), 4px 4px 10px rgba(0, 0, 0, 0.3);
    &:hover {
      color: $main-color;
      outline: inset thick rgba(67, 67, 67, 0.3);
      box-shadow: inset 0px -4px 10px rgba(67, 67, 67, 0.5), inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.3), inset 4px 4px 10px rgba(0, 0, 0, 0.3);
    }
  }
}
