.header-top {
  padding: 50px 10% 4%;
  box-shadow: inset 0px 32px 25px -25px $main-color;
}

.header-top-wrapper {
  display: flex;

  .logo {
    i {
      color: $main-color;
    }

    &::before {
      content: 'TIME';
    }

    &::after {
      content: 'SET';
    }
  }

  .gitfork {
    @media (max-width: 576px) {
      font-size: 0;
    }

    &::before {
      content: '>>';
    }
  }

  .change-color {
    @media (max-width: 576px) {
      font-size: 0;
    }
    margin-left: auto;
    margin-right: 20px;
    &::before {
      content: 'Change';
    }
  }

  > a {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
    color: $neutral-color;

    &:hover {
      color: $main-color;
      text-shadow: 0 0 5px $main-color;
    }

    & i {
      font-size: 50px;
    }
  }
}
