@import './reset'; // site reset
@import './fonts'; // site fonts
@import './ico'; // site icos
@import './variables';
@import './shared';
@import './header';
@import './clock';

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #282828;
  font-family: 'DS-Digital';
}

.timer > i {
  color: rgba(128, 128, 128, 0.541);
  font-size: 50px;
}

.timer i:hover {
  color: $main-color;
  text-shadow: 0 0 5px $main-color;
}
