@import './reset'; // site reset
@import './fonts'; // site fonts
@import './ico'; // site icos
@import './variables';
@import './shared';
@import './header';
@import './clock';
@import './footer';

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #282828;
  font-family: 'DS-Digital';
}
