@import './reset'; // site reset
@import './fonts'; // site fonts
@import './ico'; // site icos
@import './variables';
@import './shared';
@import './header';
@import './clock';
@import './footer';
@import './svg-style';

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #282828 no-repeat center center;
  font-family: 'DS-Digital';
}
